.flex {
    display: flex;
    flex-wrap: wrap;
} 

.side {
    max-width: 300px    ;
}

.frm {
    max-width: 500px    ;
}

.preview {
    max-width: 800px;
}




/* 
@media (max-width: 835px) {
    .flex {
        flex-flow: row wrap;
    }
  } */