.flex {
    display: flex;
    flex-wrap: wrap;
} 

.side {
    max-width: 400px    ;
    min-width: 300px;
}

.frm {
    max-width: 800px    ;
}

.preview {
    max-width: 800px;
}

.space-btwn {
    align-content: space-around;
}

.mensaje { 

}


.mb-10 {
    margin-bottom: 60px;
}

.index-grid {
    max-width: 800px;
} 

/* 
@media (max-width: 835px) {
    .flex {
        flex-flow: row wrap;
    }
  } */